.env
.vscode
terraform/terraform.tfvars
terraform/private_key.pem
terraform/terraform.tfstate.backup
terraform/.terraform/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars
private_key.pem

# Logs y plan
*.log
*.plan
terraform/tfplan
*.info
tfplan

secrets.yml